

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.chat-container {
  
    margin: 20px auto; /* Center the container horizontally */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    justify-content: space-between;
}

.chat-header {
    background-color: #1f3d54;
    color:#64ed85;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    height: 50px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
    max-height: calc(100% - 70px); /* Adjusted max-height to fit the remaining space */
}

.user-message,
.assistant-message {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    max-width: 80%;
    /* align-self: flex-end; */
    word-wrap: break-word;
}

.user-message {
    background-color: #b5fffb;
    align-self: flex-end;
    
}

.assistant-message {
    background-color:#ccf7c8;
    align-self: flex-start;
}

.message-text {
    word-wrap: break-word;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-top: 1px solid #ccc;
    padding: 10px;
}

.input-box {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-self: flex-end;
}

.send-button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}