

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.chat-container {
    display: flex; /* Add display: flex */
    justify-content: space-between;
    margin: 20px auto; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-header {
    background-color: #1f3d54;
    color:#64ed85;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    height: 75px;
    width: 100%
}

.chat-messages {
    padding: 10px;
    overflow-y: scroll;
    max-height: calc(100% - 70px); /* Adjusted max-height to fit the remaining space */
    padding-bottom: 100px;
}

.user-message,
.assistant-message {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    max-width: 80%;
    /* align-self: flex-end; */
    word-wrap: break-word;
}

.user-message {
    background-color: #b5fffb;
    align-self: flex-end;
    
}

.assistant-message {
    background-color: #ccf7c8;
    align-self: flex-start;
    position: relative; /* Position relative for absolute positioning of loading */
}

.message-text {
    word-wrap: break-word;
}

.chat-input {
    justify-content: space-between;
    /* align-items: center; */
    border-top: 1px solid #ccc;
    padding: 10px;
    
}

.input-box {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-self: flex-end;
    width: 500px;
}

.send-button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loading {
    display: none;
    text-align: center;
    margin-bottom: 10px; /* Add margin to separate the loading from the chat messages */
}

.img-3{
    align-content: center;
    justify-content: space-between;
    height: 110px;
}

.chat-header,
.chat-messages{
  width: 98.5%; /* Make these sections take up the available vertical space */
}

.chat-sidebar {
    width: 100px;
    background-color:#1f3d54;
    min-height: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
}

  .chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chat-sidebar-green {
    width: 20px;
    background-color:#64ed85;
    min-height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
}